<% provide(:title, 'Contact Us') %>
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<h1>Contact Us</h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<h3>Our Location:</h3>
			<img src="http://maps.google.com/maps/api/staticmap?size=300x300&maptype=roadmap&sensor=false&markers=color:blue|label:A|24Oakridge,Shawnee,Ok"></img>
		</div>
		<div class="span6">
			<div class="row-fluid">
				<h3>Contact Information:</h3>
			</div>
			<div class="row-fluid">
				<p><b>Contact Person:</b> <br />
					Neil Anderson</p>
			</div>
			<div class="row-fluid">
				<p><b>Address:</b> <br />
					24 Oakridge Dr. <br />
					Shawnee, Ok 74804 </p>
			</div>
			<div class="row-fluid">
				<p><b>Phone: </b><br />
					(405) 275-3681</p>
			</div>
			<div class="row-fluid">
				<p><b>Email: </b><br />
					Andern@sbcglobal.net</p>
			</div>
			<div class="row-fluid">
				<a href="#questionModal" role="button" class="btn" data-toggle="modal">Ask a question</a>
			</div>
		</div>
	</div>
	<div class="modal hide fade" id="questionModal" tabindex="-1" role="dialog">
		<div class="modal-header">
			<h2>Have a question?</h2>
		</div>
		<div class="modal-body">
			<form id="questionForm">
				<label>Name: </label>
				<input type="text" id="userName">
				<label>Phone: </label>
				<input type="text" id="userPhone">
				<label>Email: </label>
				<input type="text" id="userEmail">
				<label>Comment: </label>
				<input type="text" id="userComment">
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
			<a href="#" class="btn btn-primary">Submit</a>
		</div>
	</div>
</div>
