<% provide(:title, 'Home') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h1>Anderson Construction</h1>
		</div>
	</div>
	<div class="container-fluid border">
		<div class="span11">
			<div class="row-fluid">
				<div class="span11 low-border">
					<h2>Welcome</h2>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span10 offset1">
					<p>Feel free to have a look around our site. If you want to know a what services we provide, go to the 	services tab. There you will find our services, and some of the projects we have worked on.</p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span11 low-border">
					<h2>Important Info</h2>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span10 offset1">
					<p>Normal users and guests, can only view pages. Admin is the only one who can manage all of the pages.</p>
				</div>
			</div>
		</div>
	</div>
</div>

